/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮border*/
/*棕色*/
/*deep棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
.find_pass {
  border-bottom: 1px solid #b5b5b5;
}
.mod-forgot {
  width: 700px;
  margin: 100px auto;
}
.find_pass_title {
  font-size: 18px;
}
.mod-sub-nav {
  height: 40px;
  background: url("../../images/login/mod_sub_nav.png") no-repeat 0 0;
  margin: 20px 0;
  line-height: 34px;
  color: #666;
  font-size: 16px;
}
.mod-sub-nav li {
  float: left;
  padding-left: 66px;
  box-sizing: content-box;
}
.mod-sub-nav li.mod-sub-list1 {
  width: 175px;
}
.mod-sub-nav li.mod-sub-list1.active {
  background: url("../../images/login/pass_status.png") no-repeat 0 0;
  color: #2e82ff;
}
.mod-sub-nav li.mod-sub-list2 {
  width: 163px;
}
.mod-sub-nav li.mod-sub-list2.active {
  background: url("../../images/login/pass_status2.png") no-repeat 0 0;
  color: #2e82ff;
  margin-left: -12px;
  padding-left: 78px;
}
.mod-sub-nav li.mod-sub-list3.active {
  background: url("../../images/login/pass_status3.png") no-repeat 0 0;
  color: #2e82ff;
  margin-left: -12px;
  padding-left: 78px;
  width: 163px;
}
.new_pass_wrap .pass_input {
  width: 400px;
}
.new_pass_wrap .identify_img_wrap .identify_img {
  display: inline-block;
  width: 80px;
  height: 54px;
  margin-right: 20px;
  border: 1px solid #cdcdcd;
}
.new_pass_wrap .identify_img_wrap .change_identify {
  display: inline-block;
  vertical-align: top;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
}
.new_pass_wrap label {
  width: 108px;
  float: left;
  margin-top: 16px;
  font-size: 15px;
  text-align: center;
}
