@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮背景蓝*/
/*首页登录按钮border*/
/*棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*经典底线*/
/*底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
body {
  background-color: #0f6fac;
}
body[login] {
  background-color: #fff;
}
body [loading] #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 99999;
}
body [loading] #preloader #status {
  z-index: 99999;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../../images/loading.gif);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -125px 0 0 -125px;
}
body [top_box] {
  height: 100%;
  background-color: #0f6fac;
}
body [top_box][white] {
  background-color: #fff;
}
body [top_box][white] .bottom_nav a {
  color: #333;
}
body [top_box][white] .bottom_nav i {
  height: 19px;
  line-height: 19px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  color: #494949;
  margin: 3px 10px 0;
}
body [top_box][white] .bottom_copyright {
  color: #333;
}
body [top_box] .content_wrap {
  position: relative;
  height: 695px;
  background-color: #0f6fac;
}
body [top_box] .content_wrap .reg_bg {
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -427px;
  width: 854px;
  background-color: #fff;
  padding: 50px 0;
}
body [top_box] .content_wrap .reg_bg .reg_wrap {
  margin-left: 135px;
}
body [top_box] .content_wrap .reg_bg .reg_wrap .reg_head {
  width: 340px;
  padding-bottom: 30px;
}
body [top_box] .content_wrap .reg_bg .reg_wrap .reg_head .login_tab {
  padding-top: 8px;
}
body [top_box] .content_wrap .reg_bg .reg_wrap .reg_head .login_switch {
  color: #09b8fa;
}
body [top_box] .content_wrap h3 {
  font-size: 24px;
}
body [top_box] .content_wrap [input-prompt] input.public {
  width: 100%;
  width: 280px;
  padding: 15px 10px;
}
body [top_box] .content_wrap [inp_login] {
  padding-top: 30px;
}
body [top_box] .content_wrap [inp_login] input.public {
  width: 338px;
}
body [top_box] .content_wrap [inp_login] input:focus {
  border: 1px solid #0f6fac;
  box-shadow: 1px 0px 1px #0f6fac;
}
body [top_box] .content_wrap [inp_login] .safe_level {
  margin-right: 28px;
}
body [top_box] .content_wrap [inp_login] .safe_level.passlow span.low {
  background-color: #fec8ac;
}
body [top_box] .content_wrap [inp_login] .safe_level.passmiddle span.low {
  background-color: #fec8ac;
}
body [top_box] .content_wrap [inp_login] .safe_level.passmiddle span.middle {
  background-color: #fe9e6e;
}
body [top_box] .content_wrap [inp_login] .safe_level.passhigh span.low {
  background-color: #fec8ac;
}
body [top_box] .content_wrap [inp_login] .safe_level.passhigh span.middle {
  background-color: #fe9e6e;
}
body [top_box] .content_wrap [inp_login] .safe_level.passhigh span.high {
  background-color: #fd7530;
}
body [top_box] .content_wrap [inp_login] .safe_level span {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  color: #fff;
  font-size: 12px;
  margin-right: 1px;
  background-color: #d7d3d4;
}
body [top_box] .content_wrap [inp_login] .ml5 {
  margin-left: 5px;
}
body [top_box] .content_wrap [inp_login] .ml10 {
  margin-left: 10px;
  color: #999;
}
body [top_box] .content_wrap [inp_login] .inp {
  padding-bottom: 16px;
}
body [top_box] .content_wrap [inp_login] .inp .service_btn {
  color: #09b8fa;
}
body [top_box] .content_wrap [inp_login] .inp .code {
  width: 198px;
  height: 50px;
}
body [top_box] .content_wrap [inp_login] .inp .sms_verification {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  width: 130px;
  height: 50px;
  background-color: #edeef2;
}
body [top_box] .content_wrap [inp_login] .inp .sms_verification.active {
  background-color: #0f6fac;
  color: #fff;
}
body [top_box] .content_wrap [inp_login] .inp .sms_verification.white {
  background-color: #c9c9c9;
  color: #fff;
}
body [top_box] .content_wrap [inp_login] .pt15 {
  padding-top: 15px;
}
body [top_box] .content_wrap [inp_login] .submit {
  width: 338px;
  background: #0f6fac;
  border: 0;
  height: 50px;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
}
body [top_box] .content_wrap .status_switch {
  text-align: center;
}
body [top_box] .content_wrap .status_switch a {
  color: #999;
}
body [top_box] .content_wrap .status_switch span {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  margin: -1px 3px 0;
  background-color: #999;
}
body [top_box] .content_wrap .login_mode {
  padding: 0 27px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
body [top_box] .content_wrap .login_mode .login_mode_tab {
  position: relative;
}
body [top_box] .content_wrap .login_mode .login_mode_tab span {
  width: 125px;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: 0;
  top: 10px;
}
body [top_box] .content_wrap .login_mode .login_mode_tab span.right {
  left: auto;
  right: 0;
}
body [top_box] .content_wrap .login_mode .login_mode_tab i {
  color: #999;
}
body [top_box] .content_wrap .login_mode .weixin_switch {
  display: inline-block;
  margin: 10px 0;
  width: 30px;
  height: 30px;
  background: url("../../../resources/images/login/weixin_gray.png") no-repeat;
}
@media only screen and (max-width: 1500px) {
  [top_box] .content_wrap.login {
    background: url("../../images/login/login_bg.png") no-repeat left center;
  }
  [top_box] .content_wrap .login_bg {
    width: 395px;
    height: 515px;
    background-color: #fff;
    position: absolute;
    right: 47px;
    top: 40px;
    padding: 25px 27px 0;
  }
}
@media only screen and (min-width: 1500px) {
  [top_box] .content_wrap.login {
    background: url("../../images/login/login_bg.png") no-repeat;
  }
  [top_box] .content_wrap .login_bg {
    width: 395px;
    height: 515px;
    background-color: #fff;
    position: absolute;
    right: 450px;
    top: 40px;
    padding: 25px 27px 0;
  }
}
