@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮背景蓝*/
/*首页登录按钮border*/
/*棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[top_box] .user_content {
  height: 600px;
}
[top_box] .user_content.login {
  height: 760px;
  background: url("../../images/login/login_bg.png") no-repeat center 200px;
  background-size: 100% 562px;
}
[top_box] .user_content.login .user_main {
  border-bottom: none;
}
[top_box] .user_content .user_main {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 1200px;
  margin-left: -600px;
  border-bottom: 1px solid #b5b5b5;
}
[top_box] .user_content .user_main .lion_slogan_wrap {
  position: absolute;
  left: 100px;
  top: 66px;
  width: 420px;
}
[top_box] .user_content .user_main .lion_slogan_wrap .lion_slogan {
  font-size: 42px;
  color: #3f91d9;
}
[top_box] .user_content .user_main .lion_slogan_wrap .lion_slogan.tr {
  text-align: right;
}
[top_box] .user_content .user_main .content_wrap {
  position: relative;
  height: 600px;
  overflow: hidden;
}
[top_box] .user_content .user_main .content_wrap.login {
  height: 450px;
  margin-top: 80px;
  box-shadow: 0px 0px 10px 3px #e6e6e6;
  background-color: #fff;
}
[top_box] .user_content .user_main .content_wrap.login .login_bg {
  width: 360px;
  padding: 28px 28px 0;
}
[top_box] .reg_bg {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -427px;
  width: 854px;
  padding: 50px 0;
}
[top_box] .reg_bg .reg_wrap {
  margin-left: 135px;
}
[top_box] .reg_bg .reg_wrap .reg_head {
  width: 300px;
  padding-bottom: 20px;
}
[top_box] .reg_bg .reg_wrap .reg_head .login_tab {
  padding-top: 8px;
}
[top_box] .reg_bg .reg_wrap .reg_head .login_switch {
  color: #09b8fa;
}
[top_box] .regesit_readme {
  color: #09b8fa;
}
[top_box] .tright {
  margin-left: 12px;
  line-height: 54px;
}
[top_box] .tright a {
  color: #999;
}
[top_box] .low {
  background-color: #fec8ac;
}
[top_box] h3 {
  font-size: 24px;
}
[top_box] h3.tc {
  margin-bottom: 20px;
}
[top_box] .ivu-input {
  padding: 15px;
}
[top_box] .btnSubmit {
  width: 100%;
  height: 50px;
}
[top_box] .status_switch {
  text-align: center;
  margin-bottom: 40px;
}
[top_box] .status_switch a {
  color: #999;
}
[top_box] .status_switch a:hover {
  color: #09b8fa;
}
[top_box] .status_switch span {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  margin: -1px 3px 0;
  background-color: #999;
}
[top_box] .login_mode {
  text-align: center;
}
[top_box] .login_mode .login_mode_tab {
  position: relative;
}
[top_box] .login_mode .login_mode_tab span {
  width: 100px;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: 0;
  top: 10px;
}
[top_box] .login_mode .login_mode_tab span.right {
  left: auto;
  right: 0;
}
[top_box] .login_mode .login_mode_tab i {
  color: #999;
}
[top_box] .login_mode .weixin_switch {
  display: inline-block;
  margin: 10px 0;
  width: 30px;
  height: 30px;
  background: url("../../../resources/images/login/weixin.png") no-repeat;
}
