@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮border*/
/*棕色*/
/*deep棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
/*重置*/
html,
body,
div,
form,
th,
td,
input,
button,
textarea,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
body {
  font: 14px/1.5 microsoft yahei, tahoma, arial, verdana, helvetica, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  outline: none;
  color: #333;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tright {
  text-align: right;
}
a:hover {
  color: #333;
}
a:focus {
  outline: none;
}
a img {
  border: none;
}
li {
  list-style: none;
}
input {
  webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 1px;
  outline: none;
  border: 1px solid #cdcdcd;
  color: #333;
  -webkit-padding: 0;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
input,
button,
textarea,
select {
  font-family: inherit;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.clearfix:after {
  content: '.';
  display: block;
  /*加入的这个元素转换为块级元素。*/
  clear: both;
  /*清除左右两边浮动。*/
  visibility: hidden;
  /*可见度设为隐藏。仍然占据空间，只是看不到；*/
  line-height: 0;
  /*行高为0；*/
  height: 0;
}
/*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
.clearfix {
  zoom: 1;
}
/*公共样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative !important;
}
.pa {
  position: absolute !important;
}
.pf {
  position: fixed !important;
}
.all {
  min-width: 1200px;
  overflow: hidden;
}
.contents {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.content980 {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
/*针对特殊网站样式start*/
.none {
  display: none;
}
.bold {
  font-weight: bold !important;
}
.cursor {
  cursor: pointer;
}
.bg_white {
  background-color: #fff;
}
.text_indent1 {
  text-indent: 1.2em;
}
.pv20 {
  padding-left: 20px !important;
}
.mt20,
.mh20,
.ma20 {
  margin-top: 20px !important;
}
.mr20,
.mv20,
.ma20 {
  margin-right: 20px !important;
}
.mr15,
.mv15,
.ma15 {
  margin-right: 15px !important;
}
.ml10,
.mv10,
.ma10 {
  margin-left: 10px !important;
}
.mb10,
.mh10,
.ma10 {
  margin-bottom: 10px !important;
}
.ml15,
.mv15,
.ma15 {
  margin-left: 15px !important;
}
.mb15,
.mh15,
.ma15 {
  margin-bottom: 15px !important;
}
.mb25,
.mh25,
.ma25 {
  margin-bottom: 25px !important;
}
.mb25,
.mh25,
.ma25 {
  margin-bottom: 25px !important;
}
.mt25,
.mh25,
.ma25 {
  margin-top: 25px !important;
}
.ml20,
.mv20,
.ma20 {
  margin-left: 20px !important;
}
.ml25,
.mv25,
.ma25 {
  margin-left: 25px !important;
}
.ml05,
.mv05,
.ma05 {
  margin-left: 5px !important;
}
.mb0,
.mh0,
.ma0 {
  margin-bottom: 0px !important;
}
.mt30,
.mh30,
.ma30 {
  margin-top: 30px !important;
}
.mt35,
.mh35,
.ma35 {
  margin-top: 35px !important;
}
.mb40,
.mh40,
.ma40 {
  margin-bottom: 40px !important;
}
.pt20,
.ph20,
.pa20 {
  padding-top: 20px !important;
}
.mt10,
.mh10,
.ma10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px;
}
.mb {
  margin-bottom: 10px;
}
.pt10,
.ph10,
.pa10 {
  padding-top: 10px !important;
}
.pb10,
.ph10,
.pa10 {
  padding-bottom: 10px !important;
}
.pb20,
.ph20,
.pa20 {
  padding-bottom: 20px !important;
}
.mt20,
.mh20,
.ma20 {
  margin-top: 20px !important;
}
.pt05,
.ph05,
.pa05 {
  padding-top: 5px !important;
}
hr {
  border-style: solid;
  border-width: 1px 0 0 0;
}
a {
  color: #302F35;
}
.text_gray6 {
  color: #666 !important;
}
.text_gray9 {
  color: #999 !important;
}
.db {
  display: block;
}
.font_num {
  font-family: tahoma !important;
}
.font12 {
  font-size: 12px;
}
.font16 {
  font-size: 16px !important;
}
.font20 {
  font-size: 20px !important;
}
.font26 {
  font-size: 26px;
}
.text_pink_app {
  color: #ff5254 !important;
}
.bg_orange {
  background-color: #fb7530 !important;
}
.fb {
  font-weight: 700 !important;
}
.cur_pointer {
  cursor: pointer;
}
.text-blue {
  color: #476cba !important;
}
.w240 {
  width: 240px !important;
}
.w280 {
  width: 280px !important;
}
.text-gray6 {
  color: #666 !important;
}
.no_result {
  padding: 30px 0;
  text-align: center;
}
/*针对特殊网站样式end*/
