/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮背景蓝*/
/*首页登录按钮border*/
/*棕色*/
/*deep棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
/* index header */
[header] {
  height: 50px;
  background-color: #333;
  position: relative;
  width: 100%;
  min-width: 1200px;
  z-index: 999;
  transition: .3s all ease;
  overflow: hidden;
}
[header] .lion_text {
  text-indent: -9999em;
  height: 0;
}
[header] .lion_logo {
  position: absolute;
  width: 120px;
  height: 35px;
  left: 0;
  top: 9px;
}
[header] [nav_boxs] {
  height: 50px;
}
[header] [nav_boxs] .nav {
  height: 100%;
  position: relative;
}
[header] [nav_boxs] .nav > a {
  height: 100%;
  padding-top: 15px;
  margin-left: 25px;
  border-radius: 2px;
  float: left;
  position: relative;
  transition: .5s all ease;
  color: #fff;
  font-size: 15px;
}
[header] [nav_boxs] .nav > a:hover .lion_nav_line {
  bottom: 0;
}
[header] [nav_boxs] .nav > a.active .lion_nav_line {
  bottom: 0;
}
[header] [nav_boxs] .nav .reg_log_wrap {
  width: 84px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #87b8dd;
  background-color: #0068b7;
  text-align: center;
  margin: 12px 0 0 25px;
  color: #fff;
  font-size: 12px;
}
[header] [nav_boxs] .nav .reg_log_wrap span {
  display: inline-block;
  vertical-align: top;
  margin: -1px 4px 0;
}
[header] [nav_boxs] .nav .reg_log_wrap a {
  color: #fff;
}
[header] [nav_boxs] .nav .lion_nav_line {
  position: absolute;
  height: 3px;
  width: 100%;
  padding: 0;
  background-color: #fff;
  bottom: -3px;
  transition: .3s all ease;
}
/* index footer */
[footer] {
  min-width: 1200px;
  margin: 0 auto;
  height: 220px;
  overflow: hidden;
  color: #fff;
  background-color: #191919;
}
[footer][add_reg],
[footer][add_login] {
  height: 160px;
  background-color: #fff;
}
[footer][add_reg] .foot_wrap,
[footer][add_login] .foot_wrap {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
[footer][add_reg] .foot_wrap .bottom_nav,
[footer][add_login] .foot_wrap .bottom_nav {
  padding-top: 13px;
}
[footer][add_reg] .foot_wrap .bottom_nav a,
[footer][add_login] .foot_wrap .bottom_nav a {
  color: #333;
  font-size: 16px;
}
[footer][add_reg] .foot_wrap .bottom_nav i,
[footer][add_login] .foot_wrap .bottom_nav i {
  height: 19px;
  line-height: 19px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  color: #797979;
  margin: 1px 10px 0;
}
[footer][add_reg] .foot_wrap .bottom_copyright,
[footer][add_login] .foot_wrap .bottom_copyright {
  font-size: 14px;
  color: #333;
  padding-top: 7px;
}
[footer] .foot_head {
  height: 177px;
  padding-top: 35px;
}
[footer] .foot_head h3 {
  font-size: 16px;
  margin: 5px 0 18px;
}
[footer] .foot_head .commerce_tel {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../../resources/images/icons/commerce_tel.png") no-repeat;
  margin-right: 8px;
}
[footer] .foot_head .commerce_email {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 13px;
  background: url("../../resources/images/icons/commerce_email.png") no-repeat;
  margin: 0 8px 0 28px;
}
[footer] .foot_head .lion_address {
  font-size: 13px;
  color: #999;
  margin-top: 18px;
}
[footer] .foot_head .weixin_text {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}
[footer] .foot_bot {
  height: 43px;
  line-height: 43px;
  border-top: 1px solid #494949;
  font-size: 13px;
}
[footer] .foot_bot i {
  color: #797979;
}
[footer] .foot_bot span {
  color: #666;
}
[footer] .foot_bot span.bottom_copyright {
  margin-right: 60px;
}
[footer] .foot_bot span a {
  color: #666;
}
[footer] .foot_bot span a:hover {
  color: #fff;
}
@media screen and (min-width: 1500px) {
  [header] [nav_boxs] .nav > a {
    margin-left: 40px;
  }
  [header] [nav_boxs] .nav .reg_log_wrap {
    margin: 12px 0 0 40px;
  }
}
