/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮背景蓝*/
/*首页登录按钮border*/
/*棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
/*iview Ĭ����ʽ����start*/
.ivu-modal-body {
  padding: 0;
}
.ivu-modal-body .ivu-form.ivu-form-label-right {
  padding: 15px 30px 30px;
}
.ivu-modal-body .ivu-modal-close {
  right: 22px;
  top: 13px;
}
.ivu-modal-body .ivu-modal-close .ivu-icon.ivu-icon-ios-close-empty {
  background-color: red;
  width: 27px;
  height: 26px;
  background: url("../../images/popup/close.png") no-repeat;
  background-size: 26px 26px;
}
.ivu-modal-body .ivu-modal-close .ivu-icon.ivu-icon-ios-close-empty::before {
  content: "";
}
.ivu-modal-body .ivu-select {
  width: 70%;
}
.ivu-modal-body .ivu-select-selection {
  border: none;
}
.ivu-modal-body .ivu-form .ivu-form-item-label {
  font-size: 14px;
  color: #b0b0b0;
}
.ivu-modal-body .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  font-size: 14px;
}
/*iview Ĭ����ʽ����end*/
[popup] {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
[popup] h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
[popup] h4 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 15px;
}
[popup] p {
  font-size: 14px;
  margin-bottom: 20px;
}
[popup] p.help_tips {
  text-align: left;
  font-size: 14px;
  color: #333;
}
[popup] p i {
  color: #ff5254;
}
[popup] .popItem {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 10px;
}
[popup] .popItem .inp_icon {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 50px;
  height: 48px;
  border-right: 1px solid #cdcdcd;
}
[popup] .popItem .inp_icon.phone {
  background: url("../../images/popup/phone.png") no-repeat 15px 10px;
  background-size: 19px 27px;
}
[popup] .popItem .inp_icon.password {
  background: url("../../images/popup/password.png") no-repeat 15px 10px;
  background-size: 19px 27px;
}
[popup] .popItem input {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 60px;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  color: #a0a0a0;
}
[popup] .popItem input:focus {
  border: 1px solid #0f6fac;
  box-shadow: 1px 0px 1px #0f6fac;
}
[popup] .popItem .pop_sendcode_btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 150px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background-color: #3f91d9;
}
[popup] .pop_subbtn {
  width: 100%;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: #3f91d9;
  font-size: 16px;
  cursor: pointer;
}
[popup] .pop_textarea {
  font-size: 14px;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 15px;
}
[popup] .pop_textarea::-webkit-input-placeholder {
  color: #b0b0b0;
}
[popup] .pop_textarea:-ms-input-placeholder {
  color: #b0b0b0;
}
[popup] .pop_textarea::-moz-placeholder {
  color: #b0b0b0;
}
[popup] .pop_textarea:-moz-placeholder {
  color: #b0b0b0;
}
[popup] .pop_list {
  text-align: left;
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 175px;
  border: 1px solid #a0a0a0;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 14px;
  color: #b0b0b0;
}
[popup] .pop_list.right_none {
  padding-right: 0;
  padding-top: 5px;
}
[popup] .pop_list i.pop_list_text {
  position: absolute;
  right: 20px;
  top: 0;
  color: #333;
}
[popup] .pop_list input {
  position: absolute;
  left: 70px;
  top: 0;
  border: none;
  width: 84px;
  height: 48px;
  vertical-align: top;
}
.ivu-modal-footer {
  display: none;
}
