/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮背景蓝*/
/*首页登录按钮border*/
/*棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[about_us] .crumb_nav {
  height: 40px;
  line-height: 40px;
}
[about_us] .about_left {
  width: 230px;
  background-color: #fff;
  margin-right: 20px;
  left: 0;
  top: 0;
  border: 1px solid #eee;
  box-shadow: 0 0 10px 0 #e6e6e6;
}
[about_us] .about_left ul li {
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  padding-left: 40px;
  font-size: 15px;
}
[about_us] .about_left ul li.active {
  background-color: #0f6fac;
  color: #fff;
}
[about_us] .about_right {
  width: 940px;
  margin-right: 2px;
  background-color: #fff;
  padding: 45px 35px 25px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px 0 #e6e6e6;
}
[about_us] .about_right h3 {
  color: #555;
  padding-bottom: 10px;
  font-size: 24px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
[about_us] .about_right > img {
  width: 100%;
  height: 300px;
  margin-bottom: 35px;
}
[about_us] .about_right > img.height_auto {
  height: auto;
}
[about_us] .about_right > img.about_ys_02 {
  height: 500px;
}
[about_us] .about_right .about_ys_para {
  line-height: 28px;
  color: #2d2d2d;
  text-indent: 2em;
  margin-bottom: 30px;
}
[about_us] .about_right .about_ys_banner {
  position: relative;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img {
  height: 500px;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner01 {
  background: url("../../images/about_us/about_ys_banner/about_ys_01.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner02 {
  background: url("../../images/about_us/about_ys_banner/about_ys_02.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner03 {
  background: url("../../images/about_us/about_ys_banner/about_ys_03.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner04 {
  background: url("../../images/about_us/about_ys_banner/about_ys_04.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner05 {
  background: url("../../images/about_us/about_ys_banner/about_ys_05.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner06 {
  background: url("../../images/about_us/about_ys_banner/about_ys_06.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner07 {
  background: url("../../images/about_us/about_ys_banner/about_ys_07.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner08 {
  background: url("../../images/about_us/about_ys_banner/about_ys_08.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right .about_ys_banner .about_ys_banner_img.banner09 {
  background: url("../../images/about_us/about_ys_banner/about_ys_09.jpg") no-repeat;
  background-size: 100% 100%;
}
[about_us] .about_right [join_us] .join_us_wrap {
  margin-bottom: 15px;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_left {
  width: 80px;
  text-align: center;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_left .ys_logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../images/lion_logo2.png") no-repeat;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_right > h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_right > h4.job_position_title {
  margin: 10px 0;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_right > p {
  color: #666;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_right .pos_specific h5 {
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_right .pos_specific .pos_res {
  margin-bottom: 15px;
}
[about_us] .about_right [join_us] .join_us_wrap .join_us_right .pos_specific .pos_res p {
  line-height: 27px;
}
[about_us] .about_right .column_img_wrap {
  height: 225px;
  line-height: 225px;
  background: url("../../images/about_us/ys_column01.png") no-repeat;
  background-size: contain;
}
[about_us] .about_right .column_img_wrap h4 {
  text-align: center;
  font-size: 48px;
  color: #fff;
}
[about_us] .about_right [ys_column] {
  padding: 25px 0;
  overflow: hidden;
}
[about_us] .about_right [ys_column] .ys_column_ul {
  width: 950px;
}
[about_us] .about_right [ys_column] .ys_column_ul li {
  width: 270px;
  float: left;
  margin-right: 30px;
}
[about_us] .about_right [ys_column] .ys_column_ul li img {
  width: 100%;
  height: 160px;
}
[about_us] .about_right [ys_column] .ys_column_ul li .sport_cont {
  padding: 15px 0 15px 15px;
  background-color: #f5f5f5;
}
[about_us] .about_right [ys_column] .ys_column_ul li .sport_cont h5 {
  margin-bottom: 25px;
  font-size: 15px;
}
[about_us] .about_right [ys_column] .ys_column_ul li .sport_cont span {
  display: block;
  color: #999;
  font-size: 13px;
}
[about_us] .about_right [ys_column] .ys_column_ul li .sport_cont span.sport_date i {
  background: url("../../images/about_us/clock.png") no-repeat;
}
[about_us] .about_right [ys_column] .ys_column_ul li .sport_cont span.sport_address i {
  background: url("../../images/about_us/pointer.png") no-repeat;
}
[about_us] .about_right [ys_column] .ys_column_ul li .sport_cont span i {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 14px;
  margin-right: 15px;
}
[about_us] .about_right [contact_us] {
  min-height: 400px;
}
[about_us] .about_right [contact_us] p {
  line-height: 25px;
}
[about_us] .about_right [contact_us] img {
  margin-top: 10px;
}
