/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*登录背景深紫色 */
/*辅助色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*深蓝色*/
/*棕色*/
/*浅红色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*深灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[about_us] {
  margin-bottom: 50px;
}
[about_us] .crumb_nav {
  height: 40px;
  line-height: 40px;
}
[about_us] .about_left {
  width: 230px;
  padding-top: 30px;
  background-color: #fff;
  margin-right: 20px;
}
[about_us] .about_left ul li {
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  padding-left: 40px;
  font-size: 15px;
}
[about_us] .about_left ul li.active {
  background-color: #efefef;
  color: #fb7530;
}
[about_us] .about_right {
  width: 940px;
  background-color: #fff;
  min-height: 840px;
  padding: 45px 48px 0;
}
[about_us] .about_right h3 {
  font-weight: 600;
  color: #999;
  padding-bottom: 10px;
  font-size: 27px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 50px;
}
[about_us] .about_right img {
  width: 100%;
  height: 280px;
  margin-bottom: 35px;
}
[about_us] .about_right p {
  line-height: 28px;
  color: #666;
}
[about_us] .about_right p.about_two_pra {
  text-indent: 1em;
}
