@import "../color";

[about_us] {
  margin-bottom: 50px;
  .crumb_nav {
    height: 40px;
    line-height: 40px;
  }

  .about_left {
    width: 230px;
    background-color: @bg_white;
    margin-right: 20px;
    ul {
      li {
        cursor: pointer;
        height: 46px;
        line-height: 46px;
        padding-left: 40px;
        font-size: @font15;
        &.active {
          background-color: @bg_blue;
          color: @cl_white;
        }
      }
    }
  }

  .about_right {
    width: 940px;
    background-color: @bg_white;
    min-height: 840px;
    padding: 45px 48px 0;

    h3 {
      color: @cl_midlightgray;
      padding-bottom: 10px;
      font-size: @font24;
      border-bottom: 1px solid @bdc_gray;
      margin-bottom: 45px;
    }
    img{
      width: 100%;
      height: 350px;
      margin-bottom: 35px;
      &.about_ys_02{
        height:500px;
      }
    }
    p{
      line-height: 28px;
      color: @cl_para_black;
      text-indent: 2em;
      margin-bottom: 30px;
    }
  }
}
