/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮border*/
/*棕色*/
/*deep棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[love_power] .bg_white {
  padding: 0 35px 20px;
}
[love_power] .bg_white .love_head_wrap {
  border-bottom: 1px solid #ccc;
}
[love_power] .bg_white .love_head_wrap .love_head {
  height: 180px;
  margin: 0 auto;
  padding-top: 60px;
}
[love_power] .bg_white .love_head_wrap .love_head h4 {
  font-size: 30px;
  color: #0d6daa;
  text-align: center;
  margin-bottom: 25px;
}
[love_power] .bg_white .love_head_wrap .love_head .author_wrap {
  width: 330px;
  margin: 0 auto;
}
[love_power] .bg_white .love_head_wrap .love_head .author_wrap .create_ori {
  width: 44px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #ea5433;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 27px;
}
[love_power] .bg_white .love_head_wrap .love_head .author_wrap .author_msg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  padding-top: 2px;
}
[love_power] .bg_white .love_head_wrap .love_head .author_wrap .export_time {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
}
[love_power] .bg_white .love_exhibition {
  width: 660px;
  margin: 0 auto;
  background-color: #fff;
}
[love_power] .bg_white .love_exhibition.pt40 {
  padding-top: 20px;
}
[love_power] .bg_white .love_exhibition li {
  padding-top: 20px;
}
[love_power] .bg_white .love_exhibition li .love_tit {
  text-align: left;
  line-height: 32px;
  margin: 25px 0;
  font-size: 15px;
}
