@charset "utf-8";
*{-webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box; }
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt, menu, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td, menu, blockquote, hr, pre, q, address, iframe, map, area, b, i, del, ins, span, a, em, strong, form, legend, fieldset, input, button, label, select, optgroup, option, textarea, object, param, var, article, aside, audio, bdi, canvas, command, datalist, details, embed, fiqure, fiqcaption, header, footer, hgroup, keyqen, mark, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, video{margin:0;padding:0;outline: 0;}
/*body{font: 12px 微软雅黑;-webkit-text-size-adjust:100%;width:100%;}*/
ul,li{ list-style:none;}
a{color:#000;display:block;text-decoration:none;}
a,a:hover{ text-decoration:none;cursor:pointer;}
a img{ border:none;}
.hide{display:none;}
.textleft{text-align:left;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.mapbg{ overflow:hidden;height:100%;width:100%;}
.header{position: relative;bottom:0;top:0;left:0;right:0;background:#fff;}
.header_menu{width:100%; height:59px;border-bottom:2px solid #8c91ff;}
.mapmenuleft .header_logo{width:183px;height:57px;}
/*修改的样式*/
.mapmenuleft .header_city{ position:relative;}
.mapmenuleft .header_city .menu-citys{margin:18px 18px 0 35px;font-size:14px;height:20px;line-height:20px;}
.mapmenuleft .header_city .menu-citys span{background: url(../../images/map_search/icon-city.png) no-repeat;width:17px;height:20px;display:block;float:left;margin-right:9px;}
.mapmenuleft .header_city .menu-citys img{
    display: inline!important;
    width: 6px;
    height: 4px;
    border: 0;
    margin:0 0 2px 7px;
}
.cityslist{position:absolute;top:59px;left:35px;width:323px;box-shadow: 0 2px 10px #555;-webkit-box-shadow: 0 2px 10px #555;-moz-box-shadow: 0 2px 10px #555;background:#fff;z-index:12;}
.citystyleft{width:78px;border-right:1px solid #8c91ff;float:left;padding:8px 0 6px 0;}
.citystyleft li{line-height:41px;text-align:center;color:#000;font-size:12px;}
.citystyright{float:left;line-height:41px;padding:8px 0 6px 0;}
.citystyright li{overflow:hidden;clear:both;}
.citystyright li a{float:left;margin:0 0 0 5px;padding:0 5px;}
.citystyright a:hover{color:#8c91ff;}
.clicksty{color:#8c91ff;}
/*!*返回按钮*!
.fanhuibtn a{width:119px;color:#fff;}
.fanhuibtn label {margin: 12px 11px 13px 15px; cursor:pointer;}
.fanhuibtn label.icon_fanhui{background:url(../../images/map_search/icon_fanhuibtn.png) no-repeat;width: 19px;height: 16px;background-position:0px -1px;}*/

.mapmenuleft #menu_nav .up {color:#8c91ff;}
.mapmenuleft .menu ul li{height:13px;float:left;line-height:13px;margin:22px 0;padding:0 22px;border-left:1px solid #ebebeb;font-size:14px;}
.mapmenuleft .menu ul li a{text-align:center;}
.mapmenuleft .menu ul li a:hover{color:#8c91ff;}
..mapmenuright{ overflow:hidden;height:57px;}
.mapmenuright a.loginsty,.mapmenuright a.closesty {line-height:57px;display:block;margin-right:50px;padding-right:10px;}
.mapmenuright a.loginsty span,.mapmenuright a.closesty span,.loginname{line-height:57px;display:block;float:left;font-size:14px;padding-right:10px;}
.mapmenuright a.loginsty:hover,.mapmenuright a.closesty:hover{color:#8c91ff;}
.mapmenuright a img,.loginname img{float:left;margin-top:16px; margin-right:5px;}
.mapmenuright a.closesty{line-height:57px;display:block;float:left;padding-left:15px;font-size:14px;}
.mapmenuright a.closesty span{}
.search_main{ position:relative;background:#f5f5f5;height:41px;left:0;right:0;top:0;box-shadow: 0 4px 10px #ccc;-webkit-box-shadow: 0 4px 10px #ccc;-moz-box-shadow: 0 4px 10px #ccc;z-index:11;}
.fang_type .fangtypebtn{overflow:hidden;cursor:pointer;width:183px;background:#66d0fa;}
.fang_type .fangtypebtn img{float:left;cursor:pointer;}
.fang_type .fangtypebtn span{height:41px;line-height:41px;float:left;cursor:pointer;padding:0 47px 0 39px;font-size:14px;background:#66d0fa;color:#ffffff;}
.fang_type .typelist{display:none; position:absolute;z-index:1;width:183px;border-top:1px solid #dfdddc;}
.fang_type .typelist ul li{height:42px;list-style:none;}
.fang_type .typelist ul li a{ overflow:hidden;background:#66d0fa;color:#ffffff;font-size:14px;}
.fang_type .typelist ul li a img{float:left;margin-top:11px;}
.fang_type .typelist ul li a span{float:left;display:block;height:41px;line-height:41px;padding-left:49px;}
.fang_type .typelist ul li .bottomstyle{margin:0 12px;border-bottom:1px solid #ffffff; overflow:hidden;}
.fang_type .typelist ul li .bottomstyle.last{border:0;}
.search input{height:41px;line-height:41px;text-indent:19px;font-size:14px;width:224px;border:0;float:left;}
.search .search_btn{background-color:#64cff9;padding:12px 26px;}
.contnav{position: relative;background:#f5f5f5;}
.contnav ul.topnav{height:41px; }
.contnav ul.topnav li{float:left;height:41px;position:relative;border-left:1px solid #e2e2e2;}
.contnav ul.topnav li.last{border-right:1px solid #e2e2e2;}
.contnav ul.topnav li a{display:block;float:left;padding:15px 0px 12px 18px;}
.contnav ul.topnav li ul li a{display:block;float:left;padding:0;margin:15px 0px 0px 18px;}
.contnav ul.topnav li span{height:12px;line-height:12px;float:left;font-size:12px;}
.contnav ul.topnav li img{margin:4px 14px 0 23px;}
.contnav ul.topnav li span.subhover{background-position:center bottom;cursor:pointer;}
.contnav ul.topnav li ul.subnav{list-style:none;position:absolute;z-index:2;left:0;top:41px;background:#ffffff;margin:0;padding:4px 0;display:none;float:left;width:90px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;box-shadow:0 4px 10px #ccc;-webkit-box-shadow: 0 4px 10px #ccc;-moz-box-shadow: 0 4px 10px #ccc;max-height: 500px;overflow: auto;}

.contright .contfr_liulan{ position:relative;}
.contright .contfr_liulan #liulannumber{background:#64cff9;}
.contfr_liulan a{height:41px;}
.guanzhubtn{background:#64cff9;}
.guanzhubtns{background:#ff6f92;}
.contfr_liulan .liulannum{height:41px;line-height:41px;display: block;padding:0 28px 0 5px;float:left;color:#ffffff;}
.contfr_liulan a img{margin :12px 0 0 22px;line-height:41px;float:left;}
.contfr_liulan .contnumber{ position: absolute;width:21px;top:-11px;right:6px;}
.contfr_liulan .contnumber span{
   /* background:url(../../images/map_search/liulannumber.png) no-repeat;*/
    width:21px;
    height:21px;
    line-height:21px;
    color:#ffffff;
    font-weight:bold; display:block;text-align:center;}
.contright .contfr_guanzhu{border-right:1px solid #ffffff;}
.header,.mapmain{min-width: 1160px;}
.mapmain{ overflow:hidden; position:relative;}
.mapmain .wrapper{width:100%;overflow:hidden;width:100%;}
.wrapper .marcont{ overflow:hidden;height:849px;}
/* .wrapper .marcont{ overflow:hidden;height:849px;background:url(../images/map.jpg) no-repeat;} */
.main_zhoubian{width:183px;height:100%;position:fixed;top:101px;border-right:1px solid #e2e0df;background:#ffffff;z-index:10;}
/**html .main_zhoubian{position:absolute;top:expression(eval(document.documentElement.scrollTop));margin-top:320px;}*/
.main_zhoubian .main2{width:183px;}
/* .main_zhoubian .bar{width:30px;height:100px;position:absolute;right:-30px;top:315px;background:url(../images/leftclickbtn.jpg) no-repeat;display:block;} */
.zengleft{position:absolute;width:30px;height:100px;z-index:5;left:0px;top:315px;}
.bar{width:30px;height:100px;left:-30px;top:315px;background:url(../../images/map_search/leftclickbtn.jpg) no-repeat;}

.main2 .zhoubianinfo{margin:0px 24px 24px 18px;}
.main2 .zhoubianinfo dl{border-bottom:1px solid #ececec;overflow: hidden;padding-bottom:23px;margin-top:18px;}
/*.main2 .zhoubianinfo dl.chuxinginfo{background:url(../../images/map_search/icon_chuxing.png) no-repeat 0px 8px;}
.main2 .zhoubianinfo dl.xiuxianinfo{background:url(../../images/map_search/icon_xiuxian.png) no-repeat 0px 8px;}
.main2 .zhoubianinfo dl.fuwuinfo{background:url(../../images/map_search/icon_fuwu.png) no-repeat 0px 8px;border:0;}*/
.main2 .zhoubianinfo dl dt{height:45px;line-height:45px;}
.main2 .zhoubianinfo dl dt{padding-left:34px;font-size:14px;}
.main2 .zhoubianinfo dl a.select {color:#a2c159;}
.main2 .zhoubianinfo dl a.xiuxianstyle{color:#fe95b0;}
.main2 .zhoubianinfo dl a.fuwustyle{color:#a3a9c7;}
.main2 .zhoubianinfo dl dt a{padding-left:39px;}
.main2 .zhoubianinfo dl a:hover{color:#a2c159;}
.main2 .zhoubianinfo dl dd{height:35px;line-height:30px;width:70px;font-size:12px;}
.main2 .zhoubianinfo dl dd a{padding-left:29px;}
.main2 .zhoubianinfo dl dd a.paddingleft{padding-left:33px;}
.main2 .zhoubianinfo dl.fuwuinfo dd{height:30px;}
.main2 .leftbottombanner{position:absolute;padding-bottom:101px;bottom:0; }
.leftbottombanner .banner{height:63px;line-height:63px;background:#eeeeee;display:block;margin-bottom:8px;color:#949494;width:164px;text-align:center;font-size:16px; cursor:pointer;}
.leftbottombanner .ltinfo{height:40px;}
.leftbottombanner .ltinfo span{float:left;margin-top:14px;width:80px;text-align:center;}
.leftbottombanner .ltinfo a{height:15px;font-size:12px;color:#999999;display: inline;}
.leftbottombanner .ltinfo span.frborder{border-right:1px solid #dfd8df;}
.mapmain .contenticon{ position:absolute;top:200px;left:550px;z-index:0;background:url(../../images/map_search/icon_zida.png) no-repeat;height:76px;width:76px;cursor:pointer;}
.mapmain .contenthong{background:url(../../images/map_search/icon_hongda.png) no-repeat;top:258px;left:980px;}
/* .mapmain .contenticon span{margin-top:22px;line-height:18px;height:36px;padding:0 10px; display:block;text-align:center;font-size:14px;color:#ffffff;} */

.map_pop_location, .map_pop_sublocation{ position:absolute;top:200px;left:550px;z-index:0;background:url(../../images/map_search/icon_zida.png) no-repeat;height:76px;width:76px;cursor:pointer;}
.map_pop_cur{background:url(../../images/map_search/icon_hongda.png) no-repeat;top:258px;left:980px;}
/* .map_pop span{margin-top:18px;line-height:18px;height:36px;padding:0 10px; display:block;text-align:center;font-size:12px;color:#ffffff;} */
.map_pop_location span, .map_pop_sublocation span, .map_pop_location label, .map_pop_sublocation label{margin-top:22px;line-height:18px;height:18px;padding:0 5px;display:block;text-align:center;font-size:12px;color:#ffffff;overflow:hidden;}
.map_pop_location label, .map_pop_sublocation label{margin-top:0px;}
.map_pop_community {width:300px;}
.map_pop_community span{position: absolute;height:44px;z-index: 2;background: url(../../images/map_search/icon_zi.png) no-repeat;
    height:44px;width:37px;text-align:center;line-height:40px;display:block;font-size:12px;color:#fff;float:left;}
.map_pop_community .pricesty{padding-right:8px;}
.map_pop_community em{font-style:normal;padding-left:8px;}
.map_pop_community label{overflow:hidden;margin-top:5px;font-size:12px;height:44px;background:#ffffff;margin-left:18px;cursor:pointer;padding :0 15px 0 30px;position:relative;z-index:1;display:block;height:28px;line-height:28px;float:left;border-top-left-radius:0;border-top-right-radius:15px;border-bottom-right-radius:15px;border-bottom-left-radius:0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 15px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright: 15px;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius:15px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:15px;box-shadow: 0 0px 10px #555;-webkit-box-shadow: 0 0px 10px #555;-moz-box-shadow: 0 0px 10px #555;display:none;}
.map_pop_community_cur label{overflow:hidden;margin-top:5px;font-size:12px;height:44px;background:#ffffff;margin-left:18px;cursor:pointer;padding :0 15px 0 30px;position:relative;z-index:1;display:block;height:28px;line-height:28px;float:left;border-top-left-radius:0;border-top-right-radius:15px;border-bottom-right-radius:15px;border-bottom-left-radius:0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 15px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright: 15px;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius:15px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:15px;box-shadow: 0 0px 10px #555;-webkit-box-shadow: 0 0px 10px #555;-moz-box-shadow: 0 0px 10px #555;}
.map_pop_community_cur span{background: url(../../images/map_search/icon_hong.png) no-repeat;cursor:pointer;}

/*
.addressinfo{background:#ffffff;cursor:pointer;padding :0 15px 0 30px;position:absolute;top:595px;left:670px;z-index:1;height:36px;line-height:36px;border-top-left-radius:0;border-top-right-radius:15px;border-bottom-right-radius:15px;border-bottom-left-radius:0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 15px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright: 15px;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius:15px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:15px;}
*/
.addressinfo{background:#ffffff;cursor:pointer;padding :0 15px 0 30px;position:absolute;top:400px;left:670px;z-index:1;height:28px;line-height:28px;border-top-left-radius:0;border-top-right-radius:15px;border-bottom-right-radius:15px;border-bottom-left-radius:0;-moz-border-radius-topleft: 0;-moz-border-radius-topright: 15px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright: 15px;-webkit-border-top-left-radius: 0;-webkit-border-top-right-radius:15px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:15px;box-shadow: 0 0px 10px #555;-webkit-box-shadow: 0 0px 10px #555;-moz-box-shadow: 0 0px 10px #555;}
.addressinfo .pricesty{padding-right:8px;}

.mapmain .xiaoicon1{background:url(../../images/map_search/icon_zi.png) no-repeat;top:405px;left:700px;}
.mapmain .xiaoicon2{background:url(../../images/map_search/icon_zi.png) no-repeat;top:465px;left:1000px;}
.mapmain .r_listbtn {position:absolute;right:38px;top:20px;}
.mapmain .r_listbtn a{background:url(../../images/map_search/listinfobtn.jpg) no-repeat;width:118px;height:40px;}
.mapmain .r_listbtn a:hover{background:url(../../images/map_search/listinfobtn.jpg) no-repeat;background-position: 0px -56px;}
.qqserver{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    z-index:14;
}
.qqserver .qqserver-body{
    position:absolute;
    right: -400px;
    top:57px;
    bottom:0;
    width:390px;
    height:100%;
    padding:0;
    -webkit-transition:.8s cubic-bezier(.19,1,.22,1);
    -o-transition:.8s cubic-bezier(.19,1,.22,1);
    transition:.8s cubic-bezier(.19,1,.22,1);
    background:#ffffff;z-index:4;
}
.qqserver.unfold .qqserver-body{
    right:0;
    bottom:0;
    box-shadow: 0 0 10px  #999;
    -webkit-transition:.8s cubic-bezier(.19,1,.22,1);
    -o-transition:.8s cubic-bezier(.19,1,.22,1);
    transition:.8s cubic-bezier(.19,1,.22,1);
    -webkit-box-shadow:0 0 10px #999;
    -moz-box-shadow:0 0 10px #999;
}
.qqserver .qqserver-header{
    height:41px;
    line-height:41px;
    color:#fff;
    background-color:#f5f5f5;cursor:pointer;
}
.qqserver .qqserver-header span,.qqserver001 .qqserver-header001 span{background-image:url(../../images/map_search/icon_showqu.png) ;width:19px;height:16px;}
.qqserver-header .xiaoqushow, .fanhuibtn{background-color:#fc9fb6;width:119px;font-size:14px;}
.qqserver-header .xiaoqushow span{background-position:0px -2px;margin:12px 11px 13px 15px;}
.qqserver-header .fenxiangshow{background-color:#5dcdbf;width:41px;height:41px;position:relative;}
.qqserver-header .fenxiangshow span{background-position:-266px -1px;margin:11px 15px 11px 14px;width:12px;height:19px;}
.qqserver-header .close{background-color:#8c91ff;width:82px;height:41px;}
.qqserver-header .close span{background-position:-323px 0px;margin:12px 30px 9px 30px;width:22px;height:22px;}
/* .qqserver-header .guanzhushow{background-color:#ff6f92;width:82px;margin-left:66px;font-size:12px;} */
.qqserver-header .guanzhushow{width:41px;margin-left:106px;font-size:12px;}
.qqserver-header .guanzhushow span{background-position:-181px -3px;margin:13px 7px 12px 11px;}
.qqserver-body .tabPanel{position:relative;width:404px;margin:15px auto;}
.qqserver-body .tabPanel .tabList ul{margin-left:12px;color:#ffffff; overflow:hidden;}
.qqserver-body .tabPanel .tabList ul li:first-child,.yuantop dl dd p,.tabs li:first-child{-moz-border-radius-topleft:20px;-moz-border-radius-topright: 0;-moz-border-radius-bottomleft:20px;-moz-border-radius-bottomright: 0px;-webkit-border-top-left-radius: 20px;-webkit-border-top-right-radius: 0;-webkit-border-bottom-left-radius: 20px;-webkit-border-bottom-right-radius: 0;border-top-left-radius: 20px;border-top-right-radius: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 20px;/*behavior: url(css/iecss3.htc)*/ position:relative;z-index:2;}
.qqserver-body .tabPanel .tabList ul li:last-child,.yuantop dl dd span,.tabs li:last-child{-moz-border-radius-topleft:0px;-moz-border-radius-topright: 20px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:20px;-webkit-border-top-left-radius:0px;-webkit-border-top-right-radius:20px;-webkit-border-bottom-left-radius:0px;-webkit-border-bottom-right-radius:20px;border-top-left-radius:0px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:0px;/*behavior: url(css/iecss3.htc)*/}
.qqserver-body .tabPanel .tabList ul li:first-child{border-left:0px;}
.qqserver-body .tabPanel .tabList ul li{float:left;background-color:#a5ddd0;padding:5px 0;width:72px;text-align:center;cursor:pointer;border-left:1px solid #ffffff;}
.qqserver-body .fangyuanlist{height:156px;}
.qqserver-body .fangyuanlist .adress{height:50px;line-height:50px;background-color:#f7f7f7;font-size:14px;color:#696969;padding-left:41px;}
/*.qqserver-body .fangyuanlist .adress span{background-image:url(../../images/map_search/fangzhi.png);width:18px;height:22px;margin:15px 0px 13px -31px; position:absolute;}*/
.qqserver-body .fangyuanlist .fanginfo{ position:relative;cursor:pointer;}
.qqserver-body .fangyuanlist .fanginfo a{ position:absolute;height:31px;line-height:31px;width:148px;background:#6ec9e8;color:#ffffff;left:121px;top:30px;text-align:center;-webkit-border-radius:20px;-moz-border-radius: 20px;border-radius: 20px; }
.qqserver-body .fangyuanlist .fanginfo .fuceng{position:absolute;bottom:0px;height:28px;line-height:28px;display:block;width:390px;background-color:#000;filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}
.qqserver-body .fangyuanlist .fanginfo b{position:absolute;bottom:0px;height:28px;line-height:28px;text-align:center;display:block;color:#ffffff;width:390px; font-weight:inherit;}
/*房屋滚动条部分的样式 strat*/
.sly{padding-bottom:180px;}
.sly  ul{list-style:none;margin:0;padding:0;}
.sly ul li{position:relative;margin:0;padding:0;cursor:pointer;}
.sly ul li.active{background:#f5f5f5;}
.scrollbar{background:#fff;border-radius:5px;line-height:0;}
.scrollbar .handle{border-radius:5px;background:#ccc;cursor:pointer;line-height:0;}
/* Vertical examples */
.vertical ul,.vertical li,dl ,dt,dd{padding:0;margin:0;}
.vertical .slyWrap{width:390px;}
.vertical .scrollbar{width:5px;}
.vertical .scrollbar .handle{height:100px;width:100%;}
.vertical .example1{position:relative;}
.vertical .example1 .sly{width:390px;min-height:700px;}
.vertical .example1 .scrollbar{position:absolute;top:0;right:3px;min-height:700px; z-index:5;}
.vertical .slyhouse_detail{width:500px;}
.vertical .example1 .house_scrollbar{min-height:435px;}
.vertical .example1 .house_detail{width:500px;min-height:435px;}
.vertical .example1 .zhiyepinglun{width:500px;}
/* 房屋css*/
.fanglistinfo{overflow: hidden; padding:8px 15px;}
.fanglistinfo ul{overflow:hidden;height:120px;margin-bottom:16px;margin:0;padding:0;}
.fanglistinfo ul p{width:160px;height:120px;float:left;}
.fanglistinfo ul dl{float:left;margin-left:13px;width:185px;}
.fanglistinfo ul dl dt{font-size:18px;color:#ff6f92;margin-bottom:5px;height:28px;line-height:28px;}
.fanglistinfo ul dl dt span{font-size:14px;}
.fanglistinfo ul dl dd{color:#616161;}
.fanglistinfo ul dl dd.hpcolor{color:#66d0fa;}
.fanglistinfo ul dl dd span{display:block;}
.fanglistinfo ul dl dd.fangcontent{height:21px;line-height:21px;}
.fanglistinfo ul dl dd.hpcolor span{color:#616161;float: left;}
.fanglistinfo ul dl dd .fangbtn span{height:31px;line-height:31px;float:left;text-align:center;color:#ffffff;margin-top:14px;width:58px;*width:50px;}
.fanglistinfo ul dl dd .fangbtn .gybtn{background:#48cfad;}
.fanglistinfo ul dl dd .fangbtn .mwbtn{background:#f47272;margin-left:5px;margin-right:5px;*padding:0 2px;}
.fanglistinfo ul dl dd .fangbtn .cdbtn{background:#e7d16b;}
/*房屋滚动条部分的样式 end*/

.tabCon .pane{display:none;}
.qqserver-body .tabPanel .clearfixes .hit{border-bottom:none;background:#35b1a2;}
.qqserver .qqserver-header *{float:left;}
.qqserver .qqserver_arrow{cursor:pointer;}
.qqserver_fold div{width:26px;height:132px;}
.tabCon .gongjiaoinfo{margin-top:16px;overflow:hidden;}
.tabCon .gongjiaoinfo .jieguoinfo{height: 53px;line-height: 53px;width:390px;background-color: #f7f7f7;color: #696969;padding-left: 41px;}
.tabCon .gongjiaoinfo .jieguoinfo .number{color:#000;}
/*.tabCon .gongjiaoinfo .jieguoinfo .iconbiao{background-image: url(../../images/map_search/fangzhi.png);width: 18px;height: 22px;margin: 15px 0px 13px -31px;position: absolute;display:block;}*/
.tabCon .gongjiaoinfo .jieguoinfo .tiaoshuinfo{float:right;margin-right:12px;padding-right:8px;font-weight:bold;}
.jieguoinfo .tiaoshuinfo b{color:#ff6f92;}
/*zhoubian strat*/
.luxianadress {overflow:hidden;}
.luxianadress .julinumber{margin:0 12px;cursor:pointer;overflow:hidden;}
/*.julinumber span{background-image: url(../../images/map_search/luxian.png);width:25px;height:30px;margin:21px 8px 21px 0px;position: absolute;display:block;}*/
.julinumber span b{font-size:14px;color:#fff;height:25px;width:25px;text-align:center;line-height:25px;display: block; font-weight:normal;}
.julinumber dl{padding-left:33px;margin:14px 0;width:306px;}
.julinumber dl dt{height:25px;line-height:25px;font-weight:bold;font-size:14px;overflow:hidden;}
.julinumber dl dd{font-size:12px;line-height:20px;}
.julinumber .julishu{height:25px;line-height:25px;margin-top:14px;padding-right:8px;text-align:right;width:60px;}
.hovershow{cursor:pointer;}
/*zhoubian end*/
.hovershow span{background-position:0px -72px;}
.qqserver001{clear:both;position:fixed;top:0;right:0;bottom:0;height:100%;z-index:11;}
.qqserver001 .qqserver-body{position:absolute;top:0;bottom:0;right:-400px;width:390px;height:100%;padding:0px;-webkit-transition:.8s cubic-bezier(.19,1,.22,1);-o-transition:.8s cubic-bezier(.19,1,.22,1);transition:.8s cubic-bezier(.19,1,.22,1);background:#ffffff;z-index:4;top:0;}
.qqserver001 .qqserver-header{height:41px;line-height:41px;color:#fff;background-color:#f5f5f5;cursor:pointer;}
.qqserver001 .qqserver-header span{background-image:url(../../images/map_search/icon_showqu.png) ;width:19px;height:16px;}
.qqserver-header001 .xiaoqushow{background-color:#fc9fb6;width:119px;font-size:14px;}
.qqserver-header001 .xiaoqushow span{background-position:0px -2px;margin:12px 11px 13px 15px;}
.qqserver-header001 .fenxiangshow{background-color:#5dcdbf;width:41px;height:41px;position:relative;}
.qqserver-header001 .fenxiangshow span{background-position:-266px -1px;margin:11px 15px 11px 14px;width:12px;height:19px;}
.qqserver-header001 .close{background-color:#8c91ff;width:82px;height:41px;}
.qqserver-header001 .close span{background-position:-323px 0px;margin:12px 30px 9px 30px;width:22px;height:22px;}
.qqserver-header001 .guanzhushow001{background-color:#ff6f92;width:41px;margin-left:217px;font-size:12px;}
.qqserver-header001 .guanzhushow001 span{background-position:-181px -3px;margin:13px 7px 12px 11px;}
.qqserver001.unfold001 .qqserver-body001{right:390px;box-shadow: 0 0 10px  #999;-webkit-box-shadow:0 0 10px #999;-moz-box-shadow:0 0 10px #999;}
.qqserver001 .qqserver-body001{position:absolute;right:-500px;width:500px;height:100%;padding:0px;-webkit-transition:.8s cubic-bezier(.19,1,.22,1);-o-transition:.8s cubic-bezier(.19,1,.22,1);transition:.8s cubic-bezier(.19,1,.22,1);background:#ffffff;z-index:3;top:57px;}
.qqserver001 .qqserver-header001{height:41px;line-height:41px;color:#fff;background-color:#f5f5f5;cursor:pointer;}
.qqserver001 .qqserver-header001 *{float:left}
.qqserver001 .qqserver_arrow001{cursor:pointer;}
.qqserver001.unfold .qqserver-body{right:0;bottom:0;}
.qqserver_fold001 div{width:26px;height:132px;}
.qqserver_arrow001{width:18px;height:18px;background-position:-435px 0}
.yuantop{height:161px;background:#f5f5f5;border-top:1px solid #fff;width:500px;}
/*.yuantop p.fangdleft{float:left;background-image: url(../../images/map_search/fangdleft.jpg);width:90px;height:90px;margin:25px 23px 0px 29px;}*/
.yuantop dl{float:left;font-size:14px;}
.yuantop dl dt{height:51px;line-height:51px;color:#616161;margin-top:25px;}
.yuantop dl dt span{color:#ff6f92;}
.yuantop dl dt b{font-size:18px;}
.yuantop dl dd{height:31px;line-height:31px;-webkit-border-radius:20px;-moz-border-radius: 20px;border-radius: 20px;}
.yuantop dl dd p{padding-left:15px;padding-right:8px;float:left;background:#35b1a2;color:#fff;}
.yuantop dl dd span{padding-left:20px;padding-right:33px;float:left;background:#5dcdbf;color:#fff;}
.tab{overflow:hidden;width:500px; position:absolute;top:177px;}
.tabs{overflow:hidden;height:50px;padding:6px;background:#fff;width:405px;-webkit-border-radius:20px;-moz-border-radius: 20px;border-radius: 20px;margin-left:48px;margin-bottom:15px;}
.tabs li{float:left;height:38px;line-height:38px;overflow:hidden;width:130px;text-align:center;border-top:1px solid #66d0fa;border-bottom:1px solid #66d0fa; position:relative;z-index:2;}
.tabs li:first-child,.tabs li:last-child{border-left:1px solid #66d0fa;border-right:1px solid #66d0fa;}
.tabs .tabflli{border-left:1px solid #66d0fa;}
.tabs .tabfrli{border-right:1px solid #66d0fa;}
.tabs a{background-color:#fff;color:#66d0fa;display:block;text-decoration:none;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.tabs_item{display:none;}
.tabs_item:first-child{display:block;}
.current a{color:#fff;background:#66d0fa;}
.fanggdbanner{height:215px;width:500px;}
.scroll-outer{height:215px;}
#scroll{width:471px;margin:0 auto;}
#scroll .owl-wrapper-outer{margin:0 auto;}
#scroll .item{position:relative;width:231px;height:174px;}
.owl-theme .owl-controls .owl-buttons div{position:absolute;top:57px;width:40px;height:60px;margin:0;padding:0;border-radius:0;font:60px/60px "微软雅黑";background-color:transparent;overflow:hidden;_display:none;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left:5px;}
.owl-theme .owl-controls .owl-buttons .owl-next{right:10px;}
.owl-theme .owl-controls .owl-buttons .owl-prev:before{content:"<";}
.owl-theme .owl-controls .owl-buttons .owl-next:before{content:">";}
.fanginfobar{overflow:hidden; position:relative;}
.fanginfobar dl{padding:10px 20px 25px ;width:500px;border-top:1px solid #f5f5f5;}
.fanginfobar dl dt{height:32px;line-height:32px;font-size:14px;color:#c3c3c3;}
.fanginfobar dl dd{line-height:26px;color:#7d7d7d;font-size:12px;}
.fanginfobar .fangxinxiinfo .fangxinxi ul{ overflow:hidden;}
.fanginfobar .fangxinxiinfo .fangxinxi ul li{float:left;width:230px;}
@media screen and (min-height:168px){.miaoshuinfos{width:460px;height:26px;overflow:hidden;}}
@media screen and (min-height:768px){.miaoshuinfos{width:460px;height:52px;overflow:hidden;}}
@media screen and (min-height:900px){.miaoshuinfos{width:460px;height:104px;overflow:hidden;}}

.qw_productbtn{position:absolute;bottom:56px;height:43px;z-index:6;}
.qw_productbtn a{padding:0 200px;text-align:left;font-size:14px;color:#fff;height:43px;line-height:43px;background:#66d0fa;width:500px;}
/*.qw_productbtn a span{background-image:url(../../images/map_search/youjianpro.png);width:11px;height:20px;display:block;float:right;margin-top:12px;}*/
.pingluninfo{border-top:1px solid #f5f5f5;}
.pingluninfo .plunleft, .pingluninfo .plunright{overflow:hidden;margin:26px 20px 0px 0px;width:350px;}
.pingluninfo .plunleft{width:87px;height:170px;margin-left:20px;}
.plunleft p{width:43px;float:left;margin-top:14px;margin-bottom:7px;height:32px;}
.plunleft p.guanzs{border-right:1px solid #e5e5e5;}
/*.plunleft p a b{background-image:url(../../images/map_search/icon_plimg.png);width:13px;height:10px;display:block;margin-left:12px;}*/
.plunleft p b.shulpl{background-position:-49px 0px;margin-left:15px;}
.plunleft p a span{display:block;text-align:center;margin-top:7px;font-size:14px;}
.plunright dl dt{font-size:14px;font-weight:bold;height:34px;line-height:34px;}
/*.plunright dl dt span{background-image:url(../../images/map_search/icon_dianhua.png);width:11px;height:11px;display:block;margin:11px 6px 11px 21px;}*/
.plunright dl dt label,.plunright dl dt b,.plunright dl dt span{float:left;}
.pingluninfo .plurenshu{text-align:right;padding-right:20px;height:32px;line-height:32px;color:#d3d3d3;}
.plunright dl dd.xingsy{height:26px;line-height:26px;margin-bottom:6px;color:#000;}
.plunright dl dd.xingsy img{margin:9px 0 0 12px;}
.plunright dl dd{line-height:25px;color:#7c7c7c;}
.pingluninfo .pinl{ overflow:hidden;}
.more{clear:both; position:relative;height:19px;}
.more a{position:absolute;z-index:1;top:0px;left:230px;width:59px;text-align:center;color:#7d7d7d;border:1px solid #d0d0d0;background-color:#fff;-webkit-border-radius:20px;-moz-border-radius: 20px;border-radius: 20px;}
.more a:hover{background-color:#66d0fa;color:#fff;border:1px solid #66d0fa;}
.leisfang ul{ overflow:hidden;border-top:1px solid #f5f5f5;float:left;height:249px;padding-top:24px;padding-bottom:18px;padding-left:35px;}
.leisfang ul:nth-child(odd){padding:24px 40px 18px 30px;}
.leisfang ul:nth-child(even){padding:24px 30px 18px 0px;}
.leisfang ul li{width:200px;}
.leisfang ul li img{margin-bottom:10px;}
.leisfang ul li p{color:#ff0000;font-size:14px;width:100px;float:left;padding-left:5px;height:27px;line-height:27px;font-weight:bold;}
.leisfang ul li p b{color:#000;font-size:12px;}
.leisfang ul li span{color:#b0b0b0;display:block;height:20px;line-height:20px;padding-left:5px;}
.rightdaxiao{position:absolute;z-index: 1;bottom:86px;right:58px;width:42px;height:82px;border:1px solid #bcbcbc;}
/*.rightdaxiao p{display:block;width:40px;height:40px;background-image:url(../../images/map_search/jiajianbtn.png);}*/
.rightdaxiao p:hover{border:1px solid #64cff9;cursor:pointer;}
.rightdaxiao .suoxiaobtn{background-position:0px 40px;}
.zuoleftimg{height:32px;position:absolute;z-index: 1;bottom:0px;right:auto;top:auto;left:1px;}
.zuoleftbiao{cursor: pointer; white-space: nowrap; color: black; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height:15px; font-family: 微软雅黑; bottom: 2px; right: auto; top: auto; left: 81px; position: absolute; z-index:1; background: none;}

/*自动补全下拉框*/
.ui-helper-hidden-accessible{display:none;}
.ui-widget-content{border:1px solid #AAA;background:#FFF;color:#222;}
.ui-widget{font-family: 微软雅黑;font-size:1.1em;}
.ui-menu{list-style:outside none none;padding:0px;margin:0px;display:block;outline:medium none;}
.ui-autocomplete{position:absolute;top:0px;left:0px;cursor:default;}
.ui-front{z-index:100;}
.small-font{font-size:12px; color:#aeaeae;}
.ui-state-focus{border: 0px solid #cdd5da; background: #f6f6f6;}
.ui-menu .ui-menu-item {margin:0;padding: 0;zoom: 1;float: left;clear: left;width: 100%;}
.ui-menu .ui-menu-item a {text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1;}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {font-weight: normal;margin: -1px;}
/*背景se*/
.login_bgs{position: fixed;top:0;left:0;z-index:2000;width:100%;height:100%;background-color:#000;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity:0.8; }
/* 地图登录样式开始 start */
.logininfo{overflow:hidden;position:relative;width:881px;height:255px;background:#000;}
.logininfo .loginbg{overflow:hidden;position:relative;width:881px;height:255px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;background:#ffffff;border:1px solid #ddd;}
.logininfo .login{background:#fff; position:absolute;top:7px;left:7px;width:867px;height:241px;padding:17px 31px 0px 38px;}
.logininfo .login ul,.logininfo .login ul li,.logininfo .login dl,.logininfo .login dd{ overflow:hidden;}
.logininfo .zhmima span,.logininfo .zhmima label{display:block;font-size:14px;padding-top:4px;height:56px;line-height:56px;float:left;}
.logininfo .zhmima span{color:#c0c0c0;}
.logininfo .zhmima label{color:#8c91ff;margin-left:32px;}
/* .logininfo .phonetext{width:238px;*width:200px;height:41px;border:2px solid #8c91ff;background:url(../images/phoneimg0.jpg) no-repeat left; padding:0 0 0 38px;} */
/* .logininfo .zhinfotext{border: 2px solid #ccc;background: url(images/phoneimg0.png) no-repeat left;} */
/*.logininfo .phonetext{width:238px;*width:200px;height:41px;border:2px solid #ccc;background:url(../../images/map_search/phoneimg0.png) no-repeat left; padding:0 0 0 38px;}*/
.logininfo .phonetext input{height:37px;line-height:37px;border:0;width:195px;}
/*.logininfo .codetext{width:145px;*width:107px;height:41px;border:2px solid #ccc;margin-left:17px;background:url(../../images/map_search/codeimg.png) no-repeat left;padding:0 0 0 38px;}*/
.logininfo .codetext input{height:37px;line-height:37px;border:0;width:100px;}
.logininfo .codeinfo{width:60px;height:41px; overflow:hidden;}
.logininfo .codeinfo a{overflow:hidden;}
.logininfo .codeinfo a.codenumber{width:55px;height:41px;line-height:41px;margin-left:14px;margin-right:10px;}
.logininfo .codeinfo a.shuaxinbtn{width:14px;height:13px;margin-top:14px;}
.logininfo .error{margin:4px 0;height:16px;line-height:16px;color:#ed5565;}
.remember{width:493px; overflow:hidden;}
.checkboxFive {width: 18px;margin-top:12px;float:left;position:relative;}
.checkboxFive label {cursor: pointer;position: absolute;width: 18px;height: 18px;top: 0;left: 0;background: #fff;border: 2px solid #8c91ff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.checkboxFive label:after {display:block;content: '';position: absolute;width: 7px;height:3px;background: transparent;top:3px;left:3px;border:2px solid #8c91ff;border-top: none;border-right: none;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.checkboxFive input[type=checkbox]:checked + label:after {display:none;}
.jizhuwo{float:left;margin-top:12px;height:18px;line-height:18px;margin-left:7px; font-weight:bold;}
.forget_pwd{color:#8c91ff;margin-right:12px;display:block;width:60px;height:41px;line-height:41px;}
.forget_pwd:hover{ text-decoration:underline;}
.login_submit{width:111px;height:41px;border:0;display:inline-block;overflow:hidden;vertical-align:middle;line-height:41px;font-size:14px;font-weight:bold;color:#fff;background:#8c91ff;border-radius:3px;cursor:pointer;zoom:1;}
.login_submit:hover{background:#777cf4;}
.logininfo .login dl{margin-left:38px;border-left:1px solid #ccc;padding-left:27px;}
.logininfo .login dl dt{padding-top:6px;height:54px;line-height:54px;color:#c0c0c0;}
.register_btn{width:238px;}
.loginzhanghao{margin-top:12px;height:44px;line-height:44px;font-size:14px;color:#c0c0c0;}
.hzloginbtn{margin-bottom:10px;}
/*.hzloginbtn a{background:url(../../images/map_search/hzloginimg.png) no-repeat;width:39px;height:39px;float:left;filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}*/
.hzloginbtn a:hover{filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}
.hzloginbtn .weixinbtn{margin:0 12px;background-position:-51px 0px;}
.hzloginbtn .qqbtn{background-position:-101px 0px;}
.closebtn{position:absolute;top:20px;right:20px;float:left;}
/* 登录增加样式 */
.logininfo .zhmima .zhmmlogin{color:#8c91ff;}
.logininfo .zhmima label, .zhmima span, #reFS{cursor:pointer;}
.logininfo .zhmima label.shoujiloginbtn{color:#c0c0c0;}
/*.logininfo .phonetextture{border: 2px solid #ccc;background: url(../../images/map_search/phoneimg0.png) no-repeat left;}*/
.logininfo .zhdenglupwd{width:238px;}
.logininfo .zhdenglupwd input{width:195px;}
.logininfo .phonetextture{border:2px solid #8cc152;}
.logininfo .error .phoneture{ overflow:hidden;width:238px;}
/*.logininfo .error .phoneture em{background:url(../../images/map_search/ture.jpg) no-repeat;width:12px;height:16px;display:block;float:left;margin-left:3px;float:left;}*/
.logininfo .codetexterror{border:2px solid #ed5565;}
.logininfo .yzmerror{overflow:hidden;width:181px;margin-left:17px;}
/*.logininfo .error .yzmerror em{background:url(../../images/map_search/error.jpg) no-repeat;width:12px;height:16px;display:block;float:left;margin-left:3px;float:left;}*/
.logininfo .error .yzmerror span{margin-left:10px;display:block;line-height:16px;float:left;}
.logininfo .zhpwderror{width:238px;}
/*.logininfo .pwdleftbg{background: url(../../images/map_search/loginpwd.png) no-repeat;}*/
.zhmmlogin:hover,.shoujiloginbtn :hover{cursor:pointer;}
.logininfo .login-margin{margin:0 0 0 0;}
.logininfo .phoneerror {overflow: hidden;width: 238px;}
/*.logininfo .error .phoneerror em{background:url(../../images/map_search/error.jpg) no-repeat;width:12px;height:16px;display:block;float:left;margin-left:3px;float:left;}*/
.logininfo .error .phoneerror span{margin-left:10px;display:block;line-height:16px;float:left;}
.tureleftmargin{margin:0 0 0 17px;}
/* 地图登录样式结束 end */
/*分享弹出层*/
.shareshow{position:absolute;top:5px;width:390px;top:41px;background:#fff;z-index:6;height:249px;box-shadow: 0 2px 10px #ccc;-webkit-box-shadow: 0 2px 10px #ccc;-moz-box-shadow: 0 2px 10px #ccc;}
.shareshowfuceng{}
.fxdao{height:47px;line-height:50px;text-align:center;border-bottom:1px solid #eeeeee;color:#000;width:390px;}
.fxlist{margin:21px 0 0 33px;width:322px;height:141px;}
/*.fxlist ul li{width:52px;margin:0 38px 0 0 ;background: url(../../images/map_search/icon_fxs.png) no-repeat;}*/
.fxlist ul li.wxbtn{margin:0;}
.fxlist ul li a{display:block;text-align:center;}
.fxlist ul li a.share{width:52px;height:52px;}
.fxlist ul li a.share:hover{border:1px solid #35b1a2;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.sharetext{height:27px;line-height:27px;margin:0 0 10px 0;width:52px;text-align:center;}
.pyq_sharetext{width:62px;}
.pyq_sharetext:hover,.sharetext:hover{color:#5dcdbf;}
.fucengfxs{width:500px;background:#fff;position:absolute;top:41px;height:249px;z-index:6;box-shadow: 0 2px 10px #ccc;-webkit-box-shadow: 0 2px 10px #ccc;-moz-box-shadow: 0 2px 10px #ccc;}
.shareshowfuceng{}
.shareshowfuceng .fxdao{width:500px;}
.shareshowfuceng .fxlist{margin:21px 0 0 88px;}
.yanzhengma{height:41px;line-height:41px;color:#B5B5B5;overflow:hidden;}
.yanzhengma b{color:#ED5565;padding-left:6px;}
/*延时加载 样式*/
.loadingsty{background:#8d91ff; position:fixed;width:200px;height:85px;left: 44%; bottom: 44%;font-size:16px;}
/*Location indicator */
.location_indicator{position: relative;left: 25px;top:28px;}
.location_indicator:before, .location_indicator:after{position: absolute;content: "";}
.location_indicator:before{width: 20px;height: 20px;border-radius: 100% 100% 100% 0;box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);-webkit-animation: mapping 1s linear infinite;-moz-animation: mapping 1s linear infinite;animation: mapping 1s linear infinite;-webkit-transform: rotate(-46deg);-moz-transform: rotate(-46deg);transform: rotate(-46deg);}
.location_indicator:after{width:30px;height:10px;border-radius: 100%;left:-4px;background-color: rgba(255, 255, 255, 0.2);top:24px;}
@-webkit-keyframes mapping{0% {top: 0;}50%{top: -5px;}100% {top:0; }}
@-moz-keyframes mapping{0% {top: 0;}50%{top: -5px;}100% {top:0; }}
@keyframes mapping{0% {top: 0;}50%{top: -5px;}100% {top:0; }}
/*circle classick*/
.circle{ margin:30px auto;position: relative;width: 8px;height: 8px;background-color: rgba(141,145,255,.5);box-shadow: -14px 0px 0px rgba(141,145,255,1);border-radius: 50%;-webkit-animation: circle_classic 1s ease-in-out infinite alternate;-moz-animation: circle_classic 1s ease-in-out infinite alternate;animation: circle_classic 1s ease-in-out infinite alternate;}
@-webkit-keyframes circle_classic{0%{ opacity: 0.1; -webkit-transform: rotate(0deg) scale(0.5);}100%{opacity: 1; -webkit-transform: rotate(360deg) scale(1.2);}   }
@-moz-keyframes circle_classic{0%{ opacity: 0.1; -moz-transform: rotate(0deg) scale(0.5);}100%{opacity: 1; -moz-transform: rotate(360deg) scale(1.2);}  }
@keyframes circle_classic{0%{ opacity: 0.1; transform: rotate(0deg) scale(0.5);}100%{opacity: 1; transform: rotate(360deg) scale(1.2);}   }
.content_loadinfo{position:absolute;left:70px;top:35px;color:#fff; font-family:'微软雅黑';}
.houseloading{position:absolute; z-index:15; width:220px;height:120px;font-size:16px;right:80px;top:40%;}
.housesloadcontent{position:absolute;left:20px;top:60px;color:#fff; font-family:'微软雅黑';}
.houseloadings{background:#fff;position:absolute; z-index:15; width:220px;height:120px;font-size:16px;right:80px;top:40%;}
.housesloadcontents{position:absolute;left:20px;top:60px;color:#ccc; font-family:'微软雅黑';}
.bgopacity{background-color:#000;filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;width:390px;height:100%;position:absolute;z-index:15;right:0;top:57px;}
.tsinfosty{position:absolute;top:90px;left:114px;z-index:16;display:none;}