/*文字色*/
/*特殊位置黑色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*辅助色*/
/*背景颜色白色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*浅蓝色*/
/*首页登录按钮border*/
/*棕色*/
/*deep棕色*/
/*浅红色*/
/*hover 浅灰色*/
/*hover 浅lv色*/
/*浅lv色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*inp 浅灰色*/
/*深灰底线*/
/*浅灰底线*/
/*经典底线*/
/*底线*/
/*超浅灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[update] {
  overflow: hidden;
  height: 588px;
}
[update] .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
[update] .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
[update] .swiper-slide.slide1 {
  background: url("../../images/update/update.jpg");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide2 {
  background: url("../../images/update/update_01.png");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide3 {
  background: url("../../images/update/update_02.png");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide4 {
  background: url("../../images/update/update_03.png");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide5 {
  background: url("../../images/update/update_04.png");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide6 {
  background: url("../../images/update/update_05.png");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide7 {
  background: url("../../images/update/update_06.png");
  background-size: 100% 100%;
}
[update] .swiper-slide.slide7 [footer] {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}
[update] .up_two_prag {
  position: absolute;
  left: 50%;
  top: 220px;
  margin-left: -500px;
  width: 1000px;
  line-height: 36px;
  font-size: 15px;
  color: #fff;
}
[update] .update_icon_wrap {
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 100%;
  text-align: center;
}
[update] .update_icon_wrap > span {
  display: inline-block;
  width: 100px;
  margin: 0 30px;
  color: #fff;
  font-size: 16px;
}
[update] .update_icon_wrap > span > i {
  width: 42px;
  height: 43px;
  display: block;
  margin: 0 auto 10px;
}
[update] .update_icon_wrap > span > i.up_icon1 {
  background: url("../../images/update/up_icon/up_icon1.png") no-repeat;
  background-size: 100% 100%;
}
[update] .update_icon_wrap > span > i.up_icon2 {
  width: 48px;
  height: 42px;
  background: url("../../images/update/up_icon/up_icon2.png") no-repeat;
  background-size: 100% 100%;
}
[update] .update_icon_wrap > span > i.up_icon3 {
  width: 35px;
  height: 44px;
  background: url("../../images/update/up_icon/up_icon3.png") no-repeat;
  background-size: 100% 100%;
}
[update] .update_icon_wrap > span > i.up_icon4 {
  width: 46px;
  height: 45px;
  background: url("../../images/update/up_icon/up_icon4.png") no-repeat;
  background-size: 100% 100%;
}
[update] .update_icon_wrap > span > i.up_icon5 {
  width: 47px;
  height: 45px;
  background: url("../../images/update/up_icon/up_icon5.png") no-repeat;
  background-size: 100% 100%;
}
[update] .update_ser_wrap {
  width: 310px;
  position: absolute;
  left: 210px;
  top: 100px;
}
[update] .update_ser_wrap > li {
  margin-bottom: 16px;
}
[update] .up_left_box {
  text-align: right;
  color: #fff;
  padding-top: 10px;
  width: 180px;
}
[update] .up_left_box i {
  line-height: 24px;
  display: block;
  font-size: 14px;
}
[update] .up_left_box i.black {
  color: #333;
}
[update] .up_service_desc {
  position: absolute;
  bottom: 90px;
  right: 286px;
  width: 390px;
  color: #fff;
  font-size: 15px;
}
[update] .up_ser_rtips {
  width: 100px;
  height: 100px;
}
[update] .up_ser_rtips.ser1 {
  background: url("../../images/update/up_icon/up_three_icon1.png") no-repeat;
  background-size: 100% 100%;
}
[update] .up_ser_rtips.ser2 {
  background: url("../../images/update/up_icon/up_three_icon2.png") no-repeat;
  background-size: 100% 100%;
}
[update] .up_ser_rtips.ser3 {
  background: url("../../images/update/up_icon/up_three_icon3.png") no-repeat;
  background-size: 100% 100%;
}
[update] .up_ser_rtips.ser4 {
  background: url("../../images/update/up_icon/up_three_icon4.png") no-repeat;
  background-size: 100% 100%;
}
[update] .serice_four_right,
[update] .serice_five_right {
  position: absolute;
  right: 250px;
  top: 140px;
  text-align: left;
}
[update] .serice_four_right h3,
[update] .serice_five_right h3 {
  font-size: 20px;
  font-weight: 500;
}
[update] .serice_four_right p,
[update] .serice_five_right p {
  font-size: 14px;
}
[update] .serice_four_left,
[update] .serice_five_left {
  position: absolute;
  left: 220px;
  top: 250px;
  text-align: right;
}
[update] .serice_four_left .service_four_item,
[update] .serice_five_left .service_four_item {
  margin-bottom: 20px;
}
[update] .serice_four_left h3,
[update] .serice_five_left h3 {
  font-size: 20px;
  font-weight: 500;
}
[update] .serice_four_left p,
[update] .serice_five_left p {
  font-size: 14px;
}
[update] .serice_five_right {
  top: 80px;
  left: 150px;
}
[update] .serice_five_left {
  right: 210px;
  left: auto;
  top: 450px;
  text-align: left;
}
[update] .serice_six {
  position: absolute;
  right: 240px;
  top: 50px;
  text-align: left;
}
[update] .serice_six .service_four_item {
  margin-bottom: 20px;
}
[update] .serice_six h3 {
  font-size: 20px;
  font-weight: 600;
}
[update] .serice_six p {
  font-size: 14px;
}
[update] .serice_seven {
  position: absolute;
  left: 350px;
  top: 150px;
  text-align: right;
}
[update] .serice_seven .service_four_item {
  margin-bottom: 20px;
}
[update] .serice_seven h3 {
  font-size: 20px;
  font-weight: 600;
}
[update] .serice_seven p {
  font-size: 14px;
}
@media screen and (min-width: 1500px) {
  [update] {
    height: 940px;
  }
  [update] .swiper-container {
    height: 100%;
  }
  [update] .up_two_prag {
    position: absolute;
    left: 50%;
    top: 380px;
    margin-left: -750px;
    width: 1500px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
  }
  [update] .update_icon_wrap {
    bottom: 150px;
  }
  [update] .update_icon_wrap > span i {
    width: 60px;
    height: 60px;
  }
  [update] .update_icon_wrap > span i.up_icon2,
  [update] .update_icon_wrap > span i.up_icon3,
  [update] .update_icon_wrap > span i.up_icon4,
  [update] .update_icon_wrap > span i.up_icon5 {
    width: 60px;
    height: 60px;
  }
  [update] .update_ser_wrap {
    top: 200px;
    left: 350px;
  }
  [update] .update_ser_wrap .up_left_box {
    text-align: right;
    color: #fff;
    padding-top: 5px;
    width: 180px;
  }
  [update] .update_ser_wrap .up_left_box i {
    line-height: 26px;
    display: block;
    font-size: 16px;
  }
  [update] .update_ser_wrap .up_left_box i.black {
    color: #333;
  }
  [update] .up_service_desc {
    width: 640px;
    right: 360px;
    bottom: 120px;
    font-size: 24px;
  }
}
