/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*登录背景深紫色 */
/*辅助色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色深黑色*/
/*用于背景颜色超级黑色*/
/*用于背景颜色深灰*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*海蓝色*/
/*天蓝色*/
/*index 业主委托亮蓝色*/
/*深蓝色*/
/*首页登录按钮背景蓝*/
/*首页登录按钮border*/
/*棕色*/
/*浅红色*/
/*边线颜色*/
/*小竖线白色*/
/*小竖线*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*深灰底线*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[update] .update_head {
  height: 85px;
  background-color: #303030;
  padding-top: 20px;
  margin-bottom: 40px;
}
[update] .update_head img {
  width: 277px;
  height: 53px;
  margin-left: -15px;
}
[update] .update_head .apply_ser {
  width: 142px;
  height: 48px;
  background-color: #fb7530;
  text-align: center;
  line-height: 48px;
  font-size: 15px;
  color: #fff;
}
[update] .filter_box {
  min-height: 96px;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: #fff;
}
[update] .filter_box .filter_list .filter_tit {
  width: 117px;
  text-align: center;
}
[update] .filter_box .filter_list dl {
  max-width: 1070px;
}
[update] .filter_box .filter_list dl dt {
  width: 44px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background-color: #fb7530;
  cursor: pointer;
}
[update] .filter_box .filter_list dl dd {
  max-width: 1000px;
}
[update] .filter_box .filter_list dl dd span {
  float: left;
  margin: 0 8px;
  color: #666;
  cursor: pointer;
}
[update] .search_box .search_head {
  height: 50px;
}
[update] .search_box .search_head span {
  height: 50px;
  line-height: 50px;
  color: #666;
}
[update] .search_box .search_head span .service_tot_num {
  color: #fb7530;
}
[update] .search_box .search_content {
  overflow: hidden;
}
[update] .search_box .search_content ul {
  width: 1220px;
  margin-bottom: 40px;
}
[update] .search_box .search_content ul li {
  width: 284px;
  height: 235px;
  float: left;
  background-color: #fff;
  text-align: center;
  margin: 0 20px 20px 0;
  padding-top: 15px;
}
[update] .search_box .search_content ul li img {
  width: 192px;
  height: 145px;
  display: inline-block;
}
[update] .search_box .search_content ul li h3 {
  text-align: left;
  padding-left: 14px;
  font-size: 15px;
  margin-bottom: 5px;
}
[update] .search_box .search_content ul li .search_label_wrap {
  text-align: left;
  padding-left: 14px;
}
[update] .search_box .search_content ul li .search_label_wrap span {
  font-size: 13px;
  color: #999;
}
