/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/*底部文字浅灰*/
/* 特殊样式白色字体 */
/*登录背景深紫色 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*公共顶部背景色*/
/*背景颜色白色*/
/*用于背景颜色蓝色*/
/*用于背景颜色黑色*/
/*用于背景颜色浅灰*/
/*用于背景颜色浅浅灰*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*小竖线*/
/*小竖线*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*用于footer 导航栏*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[header] {
  height: 88px;
  background-color: #fff;
}
[header] .lion_text {
  text-indent: -9999em;
  height: 0;
}
[header] .lion_logo {
  width: 270px;
  height: 49px;
  left: 242px;
  top: 20px;
}
[footer] {
  height: 163px;
}
[footer] .foot_wrap {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 46px;
}
[footer] .foot_wrap .bottom_nav {
  padding-top: 13px;
}
[footer] .foot_wrap .bottom_nav a {
  color: #fff;
  font-size: 16px;
}
[footer] .foot_wrap .bottom_nav i {
  height: 19px;
  line-height: 19px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  color: #fff;
  margin: 1px 10px 0;
}
[footer] .foot_wrap .bottom_copyright {
  font-size: 14px;
  color: #b0b0b0;
  padding-top: 7px;
}
